/* 전체 배경 및 폰트 설정 */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}

.portfolio-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

/* 표 전체 그리드 설정 */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 33.3vw);
  grid-template-rows: repeat(5, 16.7vw);
  border: 1px solid #000000;
}

/* 헤더 스타일 */
.header {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 0;
  border: 1px solid #000000;
}
.pictures {
    display: flex;
    justify-content: flex-start; /* flex 아이템의 메인축(기본값에서는 가로) 정렬 방식 */
    flex-wrap: wrap; /* 아이템이 개수가 많을 때 줄바꿈이 가능하도록 함. 기본값은 nowrap */
    padding-top: 0px;
}
.picture-item {
    width: 70%;
    padding-right: 0px;
    padding-bottom: 0px;
}
.picture-item > img {
    display: block; /* img가 inline 요소일 때 생기는 틈 제거 */
    width: 100%;
}

/* 셀 스타일 */
.cell {
  background-color: white;
  text-align: center;
  font-size: 16px;
  padding: 30px 0;
  border: 1px solid #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* 마우스 호버 시 효과 */
.cell:hover {
  background-color: black;
  color: white;
}


/* -----------------------------------------------------------------------
footer 영역 - 저작권 정보
----------------------------------------------------------------------- */

footer {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}